{% extends 'base_generic.html' %}
{% load static %}
{% block content %}

<!-- <form method="post" id="personForm" data-cities-url="{% url 'ajax_load_cities' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form> -->


<section id="loginbody">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
    <div id="login-page">
      <div id="form">
        <form id="login-form" method="post" enctype="multipart/form-data" data-cities-url="{% url 'ajax_load_cities' %}">
        {% csrf_token %}
        <h2 style="margin-bottom: 50px;">Register</h2>
        {{ user_form.as_p }}
        {{ profile_form.as_p}}
        <button>Register</button>
        <p id="message">Already registered? <a href="{% url 'login' %}">LOGIN</a></p>
        </form>
      </div>
    </div>
    </div>
  </section>
  
{% endblock %}
