version: '3'
services:
  nginx:
    build: ./nginx
    ports:
      - 4000:80
    restart: "on-failure"
    depends_on: 
      - web
  mongo:
    image: mongo
    restart: always
    volumes:
      - ./init-db:/docker-entrypoint-initdb.d
      - ./data-db:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: "root"
      MONGO_INITDB_ROOT_PASSWORD: "mongoadmin"
      MONGO_INITDB_DATABASE: 'socialvoice'
    ports:
      - 27017:27017
  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: mongoadmin
    env_file:
      - .env
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
      - "8001:8000"
    depends_on:
      - migration
    links:
      - mongo
    env_file:
      - .env
  migration:
    build: .
    image: app
    command: python manage.py migrate
    volumes:
      - .:/db
    links:
      - mongo
    depends_on:
      - make_migrations
    env_file:
      - .env
  make_migrations:
    build: .
    image: app
    command: python manage.py makemigrations 
    volumes:
      - .:/db
    links:
      - mongo
    depends_on:
      - mongo
    env_file:
      - .env