version: '3'
services:
  nsqlookupd:
    image: nsqio/nsq
    command: /nsqlookupd
    ports:
      - "4160:4160"
      - "4161:4161"
  nsqd:
    image: nsqio/nsq
    command: /nsqd --lookupd-tcp-address=nsqlookupd:4160
    depends_on:
      - nsqlookupd
    ports:
      - "4150:4150"
      - "4151:4151"
  nsqadmin:
    image: nsqio/nsq
    command: /nsqadmin --lookupd-http-address=nsqlookupd:4161
    depends_on:
      - nsqlookupd  
    ports:
      - "4171:4171"
  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
#    depends_on:
#      - django
    ports:
      - "4000:4000"
  web:
    build: ./webserver/SocialVoiceProject/
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./webserver/SocialVoiceProject/:/code
    ports:
      - "8000:8000"
    depends_on:
      - nginx