{% extends 'base_generic.html' %}
 {% block content %}
 <!-- start section -->
 <section class="big-section background-position-center background-no-repeat wow animate__fadeIn" data-wow-delay="0.2s" style="background-image: url('images/home-branding-agency-bg-img-01.png');">
     <div class="container">
         <div class="row justify-content-center">
             <div class="col-12 col-md-12 text-center">
                 <h5 class="alt-font font-weight-300 text-extra-dark-gray mb-0 letter-spacing-minus-1px">Explore</h5>
                 <div class="cd-headline slide alt-font font-weight-600 title-extra-large text-extra-dark-gray line-height-170px lg-h-120px overflow-hidden">
                     <span class="cd-words-wrapper">
                         <b class="letter-spacing-minus-5px sm-letter-spacing-minus-3px is-visible">your feed</b>
                         <b class="letter-spacing-minus-5px sm-letter-spacing-minus-3px">voice messages from locals</b>
                         <b class="letter-spacing-minus-5px sm-letter-spacing-minus-3px">latest confessions</b>
                     </span>
                 </div>
             </div>
         </div>
     </div>
 </section>
 <!-- end section -->

{% endblock %}