<!-- start header -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent header-light fixed-top navbar-boxed header-reverse-scroll">
        <div class="container-fluid nav-header-container">
            <div class="col-5 col-lg-2 pl-lg-0 mr-auto mr-lg-0">
                <a class="navbar-brand" href="index.html">
                    <img src="images/logo-black.png" data-at2x="images/logo-black@2x.png" alt="" class="default-logo">
                    <img src="images/logo-black.png" data-at2x="images/logo-black@2x.png" alt="" class="alt-logo">
                    <img src="images/logo-black.png" data-at2x="images/logo-black@2x.png" class="mobile-logo" alt="">
                </a>
            </div>
            <div class="col-auto col-lg-8 md-position-initial md-no-padding">
                <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
                    <span class="navbar-toggler-line"></span>
                    <span class="navbar-toggler-line"></span>
                    <span class="navbar-toggler-line"></span>
                    <span class="navbar-toggler-line"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav alt-font">
                        {% if user.is_authenticated %}
                        <li>
                            <a href="feed" class="nav-link">Feed</a>
                        </li>
                        <li>
                            <a href="{% url 'profile-detail'%}" class="nav-link">Profile</a>
                        </li>
                        <li>
                            <a href="{% url 'logout'%}?next={{request.path}}" class="nav-link">Logout</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="index" class="nav-link">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'login'%}?next={{request.path}}" class="nav-link">Login/Register</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="col-auto col-lg-2 text-right hidden-xs px-lg-0">
                <div class="header-social-icon d-inline-block">
                    <a href="http://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="http://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </nav>
</header>
<!-- end header -->
