{% extends "base_generic.html" %}

{% block content %}
  <!-- <h1>{{user.name}}</h1> -->
  <!-- start section for th PAGE TITLE -->
  <section class="small-section background-position-center background-no-repeat wow animate__fadeIn" data-wow-delay="0.2s" style="background-image: url('/socialvoiceapp/static/media/home-branding-agency-bg-img-01.png');">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 text-center">
                <h5 class="alt-font font-weight-300 text-extra-dark-gray mb-0 letter-spacing-minus-1px">Welcome to your:</h5>
                <div class="cd-headline slide alt-font font-weight-600 title-extra-large text-extra-dark-gray line-height-170px lg-h-120px overflow-hidden">
                    <span class="cd-words-wrapper">
                        <b class="letter-spacing-minus-5px sm-letter-spacing-minus-3px is-visible">profile</b>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
<!-- start section -->
<section style="margin-top: -150px;">
  <div class="container">
      <div class="row align-items-center justify-content-center">
          <div class="col-12 col-lg-5 col-sm-9 text-center text-lg-left md-margin-40px-bottom wow animate__fadeIn" data-wow-delay="0.2s">
              <h4 class="alt-font font-weight-700 text-slate-blue text-uppercase letter-spacing-minus-1px">We believe that the voice of every human matters.</h4>
              <a style="margin-top: 20px;" href="#" class="btn btn-fancy btn-extra-large btn-dark-gray btn-box-shadow d-table d-lg-inline-block lg-margin-15px-bottom md-margin-auto-lr">Upload New Voice Memo</a>
          </div>
          <div class="col-10 col-lg-3 col-md-5 sm-margin-30px-bottom text-center text-md-left wow animate__zoomIn" data-wow-delay="0.4s">
            <!-- Picture is hardcoded FIX -->
              <img style="border-radius: 50%;" src="https://i.ibb.co/3SYYJLx/profile-pic.png" class="w-95" alt=""/>
          </div>
          <div class="col-10 col-lg-4 col-md-7 col-sm-8 text-center text-md-left wow animate__fadeIn" data-wow-delay="0.6s">
              <span class="alt-font font-weight-600 text-large text-slate-blue text-uppercase d-block margin-15px-bottom">{{user}}</span>
              <p class="w-85 sm-w-100">{{profile.city}}, {{profile.country}}</p>
          </div>
      </div>
  </div>
</section>
<!-- end section -->
<!-- start section -->
<section class="bg-light-gray overflow-visible big-section">
  <div class="container">
      <div class="row">
          <div class="col-12 text-center overlap-section wow animate__flipInX">
              <span class="alt-font font-weight-600 d-none d-md-inline-block text-gradient-peacock-blue-crome-yellow-2 title-large letter-spacing-minus-10px">my&nbsp&nbspposts</span>
          </div>
      </div>
      <div class="row row-cols-1 row-cols-lg-2 justify-content-center margin-3-rem-tb sm-no-margin-top">
          <!-- start showing voice memos-->
          <!-- end showing voice memos -->
      </div>
      <div class="row align-items-center row-cols-1 row-cols-lg-4 row-cols-sm-2 client-logo-style-02 margin-8-rem-top xs-margin-6-rem-top">
          <!-- start client logo item -->
          <div class="col text-center sm-no-margin wow animate__fadeInUp">
              <a href="#" class="client-logo"><img alt="" src="https://placehold.it/232x110"></a>
          </div>
          <!-- end client logo item -->
          <!-- start client logo item -->
          <div class="col text-center sm-no-margin wow animate__fadeInUp" data-wow-delay="0.2s">
              <a href="#" class="client-logo"><img alt="" src="https://placehold.it/232x110"></a>
          </div>
          <!-- end client logo item -->
          <!-- start client logo item -->
          <div class="col text-center sm-no-margin wow animate__fadeInUp" data-wow-delay="0.4s">
              <a href="#" class="client-logo"><img alt="" src="https://placehold.it/232x110"></a>
          </div>
          <!-- end client logo item -->
          <!-- start client logo item -->
          <div class="col text-center sm-no-margin wow animate__fadeInUp" data-wow-delay="0.6s">
              <a href="#" class="client-logo"><img alt="" src="https://placehold.it/232x110"></a>
          </div>
          <!-- end client logo item -->
      </div>
  </div>
</section>
<!-- end section -->
{% endblock %}
