{% extends 'base_generic.html' %}
 {% block content %}
  {% load static %}
 <link rel="stylesheet" type="text/css" href="{% static 'css/voicememos.css' %}">
     <!-- start section for th PAGE TITLE -->
     <section class="small-section background-position-center background-no-repeat wow animate__fadeIn" data-wow-delay="0.2s" style="background-image: url('/socialvoiceapp/static/media/home-branding-agency-bg-img-01.png');">
         <div class="container">
             <div class="row justify-content-center">
                 <div class="col-12 col-md-12 text-center">
                     <div class="cd-headline slide alt-font font-weight-600 title-extra-large text-extra-dark-gray line-height-170px lg-h-120px overflow-hidden">
                         <span class="cd-words-wrapper">
                             <b class="letter-spacing-minus-px sm-letter-spacing-minus-3px is-visible padding-10px-top">{{profile.user}}</b>
                         </span>
                     </div>
                 </div>
             </div>
         </div>
     </section>
    <!-- end section -->

        <!-- start section -->
        <section class="bg-light-blue">

          <div class="container">

            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#account" class="d-inline-block alt-font text-medium text-gradient-sky-blue-pink text-uppercase font-weight-500 margin-50px-right">Account</a></li>
              <li><a data-toggle="tab" href="#messages_posted" class="d-inline-block alt-font text-medium text-gradient-sky-blue-pink text-uppercase font-weight-500 margin-50px-right">Messages Posted</a></li>
            </ul>
          
            <div class="tab-content">

              <div id="account" class="tab-pane fade in active">

              </div>

              <div id="messages_posted" class="tab-pane fade">
                <h5 class="alt-font text-extra-dark-gray font-weight-600 letter-spacing-minus-1px">These are the messages you have posted</h5>
                <div class="row">
                  {% if messages %}
                    {% for message in messages %}


                    <div class="col-12 panel panel-default fade-in">
                      <div class="row panel-body testimonials-bubble border-radius-5px bg-white box-shadow-medium box-shadow-extra-large-hover padding-2-rem-lr padding-2-rem-tb margin-35px-bottom lg-padding-2-rem-lr">
                        <div class="col-6 align-middle">
                          {% include 'voicememos.html' with audio=message.audio_data %}
                        </div>
                        <span class="col-3 align-middle">{{message.upload_time}}</span>   

                        </div> 
                    </div>
                    {% endfor %}
                  {% else %}
                  <div>
                    <p>No Messages Found Posted From This Account</p>
                  </div>                  
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- end section -->
{% endblock %}