{% extends "base_generic.html" %}

{% block content %}
 <!-- Login CSS -->
{% load static %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
{% if next %}
{% if user.is_authenticated %}
  <p>Your account doesn't have access to this page. To proceed,
  please login with an account that has access.</p>
{% endif %}
{% endif %}
<section id="loginbody">
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
  <div id="login-page">
    <div id="form">
      <form  method="post" action="{% url 'login' %}" id="register-form">
        {% csrf_token %}
        <input type="text" placeholder="Username"/>
        <input type="password" placeholder="Password"/>
        <input type="text" placeholder="Location"/>
        <button>create</button>
        <p class="message">Already registered? <a href="{% url 'login'%}">Sign In</a></p>
      </form>
      <form id="login-form" action="{% url 'login' %}" method="post" >
        {% csrf_token %}
        <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username" placeholder="Username">
        <input type="password" name="password" autocomplete="current-password" required="" id="id_password" placeholder="Password">
        <button type="submit">login</button>
        <p class="message">Not registered? <a href="{% url 'register'%}">Create an account</a></p>
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>
  </div>
</section>
 <!-- {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
 -->

{% endblock %}
